// Place all the styles related to the Promocions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-inputs {
	font-size: 100%;
	margin-top: 20px;
	margin-right: 120px;
	margin-bottom: 10px;
	margin-left: 120px;
}

.form-actions {
	font-size: 100%;
	margin-top: 20px;
	margin-right: 120px;
	margin-bottom: 10px;
	margin-left: 120px;

}

.botton{
	font-size: 100px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 120px;
	margin-right: 120px;
}

#botones {
	margin-top: -70px;
	margin-left: 300px;
}

p.promocion {
	text-align: center;
}


